
<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>DronSimon</title>
      <link rel="stylesheet" href="{{ static_url('styles.css') }}" type="text/css">
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{ static_url('bower_components/Materialize/dist/css/materialize.min.css') }}"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <style>
        #seekbar-container {
          width: 320px;
          height: 61px;
          position: absolute;
          display: inline-block;
          right: 4%;
          top: 68%;
        }
        #pn_velocidad{

        }
      </style>
      <script src="{{ static_url('bower_components/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
      <script type="text/javascript" src="{{ static_url('seekbar.js') }}"></script>
      <link rel="stylesheet" type="text/css" href="{{ static_url('seekbar.css') }}"/>
    </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </nav>


  <div class="row">
    <div class="col s12 m12 l12"> <!-- Note that "m8 l9" was added -->
      <div id="pn_velocidad"></div>
      <div id="seekbar-container"></div>
    </div>
  </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{{ static_url('bower_components/Materialize/dist/js/materialize.min.js') }}"></script>
    <script src="{{ static_url('cliente.js') }}" type="text/javascript"></script>

  </body>
</html>

