<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>DronSimon</title>

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{ static_url('bower_components/flat-ui/dist/css/flat-ui.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url('styles.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ static_url('css/styles.css') }}" type="text/css">
  <script src="{{ static_url('bower_components/jquery/dist/jquery.min.js') }}" type="text/javascript"></script>
</head>
<body>

    <!--
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">Javascript</a></li>
          <li><a href="mobile.html">Mobile</a></li>
        </ul>
      </div>
    </nav>
      -->

  <div id="main">
    <!--<img class="video_c" src="http://192.168.17.103:8080/stream.mjpg" ></img>-->
    <div id="head_control" class="">
      <div id="slider_aux_1"></div>
      <div id="slider_on_off"></div>
      <div id="slider_aux_2"></div>
    </div>

    <div id="cv_control" class="">
      <label class="radio radios_cv" for="radio1">
        <input type="radio" name="option_radios_cv" value="1" id="radio1" data-toggle="radio" class="custom-radio">
          <span class="icons">
            <span class="icon-unchecked"></span>
            <span class="icon-checked"></span>
          </span>
          GENTE
      </label>
      <label class="radio radios_cv" for="radio2">
        <input type="radio" name="option_radios_cv" value="2" id="radio2" data-toggle="radio" checked="checked" class="custom-radio">
        <span class="icons">
          <span class="icon-unchecked"></span>
          <span class="icon-checked"></span>
        </span>
        HUMO
      </label>
      <label class="radio radios_cv" for="radio3">
        <input type="radio" name="option_radios_cv" value="3" id="radio3" data-toggle="radio" class="custom-radio">
        <span class="icons">
          <span class="icon-unchecked"></span>
          <span class="icon-checked"></span>
        </span>
        FUEGO
      </label>
      <label class="radio radios_cv" for="radio4">
        <input type="radio" name="option_radios_cv" value="4" id="radio4" data-toggle="radio" class="custom-radio">
        <span class="icons">
          <span class="icon-unchecked"></span>
          <span class="icon-checked"></span>
        </span>
        BORDES
      </label>
      <label class="radio radios_cv" for="radio5">
        <input type="radio" name="option_radios_cv" value="5" id="radio5" data-toggle="radio" class="custom-radio">
        <span class="icons">
          <span class="icon-unchecked"></span>
          <span class="icon-checked"></span>
        </span>
        LINEAS RECTAS
      </label>
      <label class="radio radios_cv" for="radio6">
        <input type="radio" name="option_radios_cv" value="6" id="radio6" data-toggle="radio" class="custom-radio">
        <span class="icons">
          <span class="icon-unchecked"></span>
          <span class="icon-checked"></span>
        </span>
        COLORES
      </label>
    </div>


    <div id="controller_joystick" class="active">

      <div id="slider_throttle" style="height: 200px;"></div>

      <div id='joystick_left' class="joydiv-joystick_left">
          <div id="bg_joystick_left"></div>
          <div class="joydiv-up"></div>
          <div class="joydiv-left"></div>
          <div class="joydiv-right"></div>
          <div class="joydiv-down"></div>
          <div class="joydiv-trackpad">
              <div class="joydiv-tracker"></div>
          </div>
          <!--<label id='lbl_yaw' for="yaw">YAW</label>-->
      </div>

      <div id='joystick_right' class="joydiv-joystick_right">
          <div id="bg_joystick_right"></div>
          <div class="joydiv-up"></div>
          <div class="joydiv-left"></div>
          <div class="joydiv-right"></div>
          <div class="joydiv-down"></div>
          <div class="joydiv-trackpad">
              <div class="joydiv-tracker"></div>
          </div>
          <!--
          <label id='lbl_pitch' for="pitch">PITCH</label>
          <label id='lbl_roll' for="roll">ROLL</label>
          -->
      </div>

      <input type="text" id="direction" readonly style="display:none;">

    </div>

  </div>
  <!--<script src="{{ static_url('cliente.js') }}" type="text/javascript"></script>-->
  <script type="text/javascript" src="{{ static_url('bower_components/flat-ui/dist/js/flat-ui.js') }}"></script>
  <script type="text/javascript" charset="UTF-8" src="{{ static_url('joydiv.js') }}"></script>
  <script type="text/javascript" charset="UTF-8" src="{{ static_url('js/scripts.js') }}"></script>
</body>
</html>

